.md-grid {
    max-width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;
}

.md-sidebar.md-sidebar--primary {
    flex: 0 0 28rem;
    width: initial;
    min-width: 28rem;
    position: relative;
    order: 1;
    background-color: #f3f3f3;
}

.md-sidebar--primary .md-sidebar__scrollwrap[data-md-position="sticky"] {
    position: sticky;
}

.md-sidebar.md-sidebar--secondary {
    margin: 0;
    order: 3;
    transform: none;
    position: relative;
    flex: 0 0 30rem;
    min-height: 30rem;
}

.md-content {
    order: 2;
    margin: 0;
}

.md-nav--primary .kz-nav.md-nav__item[data-md-level="1"] {
    padding: 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.07);
}

.md-nav--primary .kz-nav.md-nav__item[data-md-level="1"]:first-child {
    border-top: none;
}

.kz-nav[data-md-level="1"] > .md-nav__link {
    margin-top: 0;
    padding: 1.2rem 0;
}

.kz-nav[data-md-level="1"] .md-nav__list {
    /*padding: 1.2rem 0;*/
}

.md-nav__item.kz-nav .md-nav__link {
    margin-top: 0;
    padding: .625em 0;
}
